__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.git/

checkpoints/*
!checkpoints/ranking_baseline.joblib
!checkpoints/ranking_baseline_metadata.json

data/*
!data/processed/
data/processed/*
!data/processed/articles_feature.csv
!data/processed/customer_features.csv
!data/processed/item_features.csv
